<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/style.css">
  
    <title>Document</title>
</head>
<body>
    {{>header}}
   <div class="banner px-lg-4" >
		    <div class="container-fluid">
			    <div class="row">
				    <div class=" col-12 d-flex align-items-center">
					    <div class="banner-inner-outer">
							<h4>ABOUT US</h4>
							<ul>
							    <li><a href="index.html">Home</a></li>
							    <li>About</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<section class="section-padding">
		    <div class="container">
			    <div class="about-section">
                <p>BizMobia is a resolute firm diversified into FinTech, AdTech, CRM, order management, etc. It provides exclusive customized products to serve enormous industries. The company has an abundance of services like software development, mobile application, digital marketing, internet product and services, mobile value-added services, and software maintenance. It is well-versed in various other facets like easy credit management system, eWallet, digital ticket solution, salon and spa business management solution, food & grocery delivery business solution, and more. With years of hard-earned expertise of skillful professionals, the team works closely with clients to build, run and leverage solutions that elevate businesses.</p>
				</div>	
			</div>
		</section>
		
		<section class="section-padding bg-light about-page-outer">
		    <div class="container-fluid">
			    <div class="row">
				    <div class="col-lg-5">
					    <div class="opreter-center-img">
						    <img src="/img/opreter-center.jpg" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-7">
					    <div class="opreter-center-content">
						    <div class="section-headding1">
						        <h4>Industry</h4>
						    </div>
							<p>BizMobia provides enterprise software for wide range of industries including below.</p>
						    <div class="row">
							    <div class="col-md-6">
								    <div class="opreter-center-content-list">
									    <ul>
										    <li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
												FINTECH
											</li>
										    <li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    ENTERTAINMENT
											</li>
										    <li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    SPORTS
											</li>
											<li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    DIGITAL ADVERTISING
											</li>
											<li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    BIGDATA &amp; AI
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">
								    <div class="opreter-center-content-list">
									    <ul>
										    <li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    BLOCKCHAIN
											</li>
											<li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    FASHION BUSINESS MANAGEMENT
											</li>
											<li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    DIGITAL CONTENTS
											</li>
											<li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    HEALTH CARE
											</li>
											<li>
											    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
												    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
												</svg>
											    INSTANT MALWARE REMOVAL
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section-padding about-page-outer">
		    <div class="container">
			    <div class="row">
				    <div class="col-lg-6 order-lg-1 order-2">
					    <div class="what-our-clients-say">
						    <div class="section-headding1">
						        <h4>WHAT OUR CLIENTS SAY</h4>
						    </div>
							<ul>
							    <li class="mt-0">
								    <img src="/img/check.png" alt="check.png">
								    <p>They always get back to us when we have something to add or change for the game and are very professional, we wish to hire them again and again. There attention to detail is amazing and they’re very talented.</p>
								</li>
							    <li>
								    <img src="/img/check.png" alt="check.png">
								    <p>It’s always great working with this group, would highly recommend! The Project Manager is always there to speak with and is a pleasure to work with. The team at BIZMOBIA have been amazing to work with, better than the other developers I’ve worked with so far! I would highly recommend them to others.</p>
								</li>
							    <li>
								    <img src="/img/check.png" alt="check.png">
								    <p>Great job working with Bizmobia team. Even with the difficult schedule we were able to set up meet times and discuss whatever needed to be communicated. Very prompt in responding to email and keep a close eye on performance of their team and client feedback.</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6 order-lg-2 order-1">
					    <div class="what-our-clients-say">
						    <div class="what-our-clients-say-img">
							    <img src="/img/about1.jpg" alt="about1.jpg" width="100%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section-padding bg-light about-page-outer">
		    <div class="container">
			    <div class="row">
				    <div class="col-lg-6">
					    <div class="mission-box">
						    <img src="/img/about2.jpg" width="100%">
						</div>
					</div>
					<div class="col-lg-6">
					    <div class="mission-box">
							<div class="section-headding1">
								<h4>MISSION</h4>
							</div>
							<p>Our mission is to deliver optimal solutions with top quality and best services at affordable prices. In Our Business Policy Customer satisfaction is given top priority. Our team is very friendly in dealings to the customers and it helps us to retain lifelong relationship with our existing clients and expand our customer circle worldwide. We always try to improve the quality of our products by exploring innovative ideas and new techniques. We always try to enhance efficiency, productivity and capability of businesses by delivering the services above &beyond industry values and customer expectations. We allow the businesses to expand their boundaries by making innovative &impeccable business partnership with us; our innovative ideas & cutting-edge solutions make outsourcing works for them. We visualize our organization to be the first and the last stop for the businesses across the globe seeking out for long-term success and prosperity with the help of our team.</p>
					    </div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section-padding about-page-outer">
		    <div class="container">
			    <div class="row">
				    <div class="col-lg-6 order-lg-1 order-2">
					    <div class="vision">
						    <div class="section-headding1">
								<h4>VISION</h4>
							</div>
							<p>Bizmobia Software Pvt Ltd is one of the prominent software company that helps other organizations to transform into digital enterprises. It differentiates you from competitors in the market and provides better engagement with customers, partners and employees.</p>
							<p>We clearly understand that all customer landscapes are not of same kind. That’s why BIZMOBIA sourcing methodology encompasses a clear solution especially crafted to address the clients’ issues. We offer a phased approach towards your business drivers and help IT organizations to align their goals towards the overall vision of the business</p>
							<p>Our main aim is to develop in a constant manner and become a leading performer in this competitive global marketplace. Fortunately, we have been able to gather a crew of professionals that can shape and mold their collective experiences, all of them posses outstanding talent that can help to accelerate your organization</p>
						    <div class="what-our-clients-say">
								<ul>
									<li>
										<img src="/img/check.png" alt="check.png">
										<p>To become an integrated IT Solution provider.</p>
									</li>
									<li>
										<img src="/img/check.png" alt="check.png">
										<p>To build highest standards of reliability and cost containment.</p>
									</li>
									<li>
										<img src="/img/check.png" alt="check.png">
										<p>To offer seamless service and build value for clients through focus and results.</p>
									</li>
									<li>
										<img src="/img/check.png" alt="check.png">
										<p>To be the first choice for optimizing and achieving excellence through IT enabled services.</p>
									</li>
									<li>
										<img src="/img/check.png" alt="check.png">
										<p>To be a process driven, professionally managed and highly profitable organization.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-6 order-lg-2 order-1">
					    <div class="vision">
						    <img src="/img/about3.jpg" alt="about3.jpg" width="100%">
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- <section class="section-padding bg-light about-page-outer">
		    <div class="container">
			    <div class="row">
				    <div class="col-md-6">
					    <div class="mission-box">
						    <img src="/img/about-4.jpg" width="100%">
						</div>
					</div>
					<div class="col-md-6">
					    <div class="mission-box">
						    <p>Morbi et pellentesque erat. Nulla luctus imperdiet pharetra. Nam dignissim risus at ultricies elementum. Nullam sit amet dolor quis libero sollicitudin commodo. Mauris sit amet quam enim. Fusce vel imperdiet orci. Aenean id quam non lorem condimentum venenatis.</p>
						    <p>Nam ut dolor ullamcorper, imperdiet nunc vitae, pellentesque purus. Nulla ut turpis sed leo ornare consectetur. Duis vulputate eu risus eu sollicitudin. Mauris nisi lectus, pharetra eget leo id, hendrerit ultricies magna. Duis bibendum quam in elit accumsan!</p>
					        <ul class="mission-box-icon">
							    <li>
								    <a href=""><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg></a>
								</li>
							    <li>
								    <a href=""><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg></a>
								</li>
								<li>
								    <a href=""><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="svg-inline--fa fa-linkedin-in fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg></a>
								</li>
								<li>
								    <a href=""><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg></a>
								</li>
								<li>
								    <a href=""><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" class="svg-inline--fa fa-whatsapp fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg></a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section> -->
		
		<section class="section-padding">
		    <div class="container">
			    <div class="row">
				    <div class="col-12">
					    <div class="about-bottom text-center">
						    <h6>BIZMOBIA SOFTWARE PVT. LTD.</h6>
							<h4>CONTACT US EVERY TIME YOU NEED AND OUR TEAM WILL BE VALIDATE TO ATTEND YOUR CALL</h4>
							<ul class="mission-box-icon mt-3">
							    <li>
								    <a href="https://www.facebook.com/bizmobia" target='_blank'><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg></a>
								</li>
							    <li>
								    <a href="mailto: info@bizmobia.com" target='_blank'><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg></a>
								</li>
								<li>
								    <a href="https://www.linkedin.com/company/bizmobiasoftware" target='_blank'><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" class="svg-inline--fa fa-linkedin-in fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg></a>
								</li>
								<li>
								    <a href="https://twitter.com/bizmobia" target='_blank'><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg></a>
								</li>
								<li>
								    <a href="https://wa.me/919966300046" target='_blank'><svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" class="svg-inline--fa fa-whatsapp fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg></a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

{{>footer}}
<script src="../jq/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/owl.carousel.js"></script>
<script src="../js/main.js"></script>
</body>
</html>