<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/style.css">
  
    <title>Document</title>
</head>
<body>
    {{>header}}
<section class="section-padding">
		    <div class="container">
			    <div class="row">
				    <div class="client-slider">
					    <div class="owl-slider">
							<div id="client-slider" class="owl-carousel">
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider1.png" alt="client-slider1.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider2.png" alt="client-slider2.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider3.png" alt="client-slider3.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider4.png" alt="client-slider4.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider5.png" alt="client-slider5.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider6.png" alt="client-slider6.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider7.jpg" alt="client-slider7.jpg"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider8.png" alt="client-slider8.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider9.png" alt="client-slider9.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider10.png" alt="client-slider10.png"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider11.jpg" alt="client-slider11.jpg"></a>
									</div>
								</div>
								<div class="item">
									<div class="connected-with-slider-img">
										<a href=""><img src="../img/client-slider12.png" alt="client-slider12.png"></a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="mb-4">
		    <div class="">
			    <div class="row">
				    <div class="col-12">
					    <div class="client-map">
						    <img src="../img/map.jpg" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</section>
		
        {{>footer}}
<script src="../jq/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/owl.carousel.js"></script>
<script src="../js/main.js"></script>
</body>
</html>