<!DOCTYPE html>
<html lang="en">
<head>
 


    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/style.css">
  
</head> 
<body>
    {{>header}}
    <div class="banner px-lg-4" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="owl-carousel owl-theme">
          <div class="item">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                <div class="banner-inner">
                  <h1>Enterprice Software Solution</h1>
                  <p>DONE RIGHT</p>
                  <a class="comman-btn" href="mailto: info@bizmobia.com" target='_blank'>LEARN MORE ABOUT US</a>
                </div>
              </div>
              <div class="col-md-6 d-md-block d-none">
                <div class="banner-img">
                  <img style="height: 1000px;" src="../img/enterprise_solutions.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="item">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                <div class="banner-inner">
                  <h1>Mobile Application</h1>
                  <p>DONE RIGHT</p>
                  <a class="comman-btn" href="mailto: info@bizmobia.com" target='_blank'>LEARN MORE ABOUT US</a>
                </div>
              </div>
              <div class="col-md-6 d-md-block d-none">
                <div class="banner-img">
                  <img style="height: 1000px;" src="../img/APPICATION.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="item">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                <div class="banner-inner">
                  <h1>Tech Consultancy</h1>
                  <p>DONE RIGHT</p>
                  <a class="comman-btn" href="mailto: info@bizmobia.com" target='_blank'>LEARN MORE ABOUT US</a>
                </div>
              </div>
              <div class="col-md-6 d-md-block d-none">
                <div class="banner-img">
                  <img style="height: 1000px;" src="../img/TechConsultancy.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="item">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                <div class="banner-inner">
                  <h1>Cloud Computing Consultancy</h1>
                  <p>DONE RIGHT</p>
                  <a class="comman-btn" href="mailto: info@bizmobia.com" target='_blank'>LEARN MORE ABOUT US</a>
                </div>
              </div>
              <div class="col-md-6 d-md-block d-none">
                <div class="banner-img">
                  <img style="height: 1000px;" src="/../img/cloud-consultant.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="item">
              <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                <div class="banner-inner">
                  <h1>Fintech Solution</h1>
                  <p>DONE RIGHT</p>
                  <a class="comman-btn" href="mailto: info@bizmobia.com" target='_blank'>LEARN MORE ABOUT US</a>
                </div>
              </div>
              <div class="col-md-6 d-md-block d-none">
                <div class="banner-img">
                  <img style="height: 1000px;"  src="../img/banner-inner.png" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </div>
</div>

<section class="section-padding connected-with-outer px-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-headding text-center">
            <h4>Connected With</h4>
        </div>
      </div>
        <div class="col-12">
          <div class="connected-with-box">
            <div class="owl-slider">
            <div id="banner" class="owl-carousel">
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with1.png" alt="connected-with1.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with2.png" alt="connected-with2.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with3.png" alt="connected-with3.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with4.png" alt="connected-with4.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with5.png" alt="connected-with5.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with6.png" alt="connected-with6.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with7.png" alt="connected-with7.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with8.png" alt="connected-with8.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with9.png" alt="connected-with9.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with10.png" alt="connected-with10.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with11.png" alt="connected-with11.png"></a>
                </div>
              </div>
              <div class="item">
                <div class="connected-with-slider-img">
                  <a href=""><img src="../img/connected-with12.png" alt="connected-with12.png"></a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding counter">
    <div class="container">
      <div class="row justify-content-center">
      
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="bizmobia-counter">
            <div class="bizmobia-counter-img">
              <img src="../img/enterprise.png" alt="team.png">
          </div>
          <h2>10+</h2>
          <p> Products on revenue share</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="bizmobia-counter">
            <div class="bizmobia-counter-img">
              <img src="../img/cuntries.png" alt="cuntries.png">
          </div>
          <h2>50+</h2>
          <p>Countries</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="bizmobia-counter">
            <div class="bizmobia-counter-img">
              <img src="../img/deals.png" alt="deals.png">
          </div>
          <h2>75+</h2>
          <p>Deals</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="bizmobia-counter">
            <div class="bizmobia-counter-img">
              <img src="../img/team.png" alt="enterprise.png">
          </div>
          <h2>50+</h2>
          <p>Team</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="bizmobia-counter">
            <div class="bizmobia-counter-img">
              <img src="../img/work-time.png" alt="work-time.png">
          </div>
          <h2>9000+</h2>
          <p>Work Hours</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-padding bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5">
          <div class="opreter-center-img">
            <img src="../img/opreter-center.jpg" alt=""	class="img-fluid">
        </div>
      </div>
      <div class="col-lg-7">
          <div class="opreter-center-content">
            <div class="section-headding1">
                <h4>Industry</h4>
            </div>
          <p>BizMobia provides enterprise software for wide range of industries including below</p>
            <div class="row">
              <div class="col-md-6">
                <div class="opreter-center-content-list">
                  <ul>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    FINTECH
                  </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      ENTERTAINMENT
                  </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      SPORTS
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      DIGITAL ADVERTISING
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets
assets0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      BIGDATA & AI
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
                <div class="opreter-center-content-list">
                  <ul>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      BLOCKCHAIN
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      FASHION BUSINESS MANAGEMENT
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      DIGITAL CONTENTS
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      HEALTH CARE
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      INSTANT MALWARE REMOVAL
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  

<section class="section-padding website-security" style="background-image:url(../img/website-secruti.jpg);">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-headding section-headding-white text-center">
            <h4>Our Focus</h4>
          <p>From products to services, BizMobia is invincibly diversified into various aspects. It helps in forming a credible business model for the organizations, enhancing their technological requirements</p>
        </div>
      </div>
        <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#mobileapplication-development.html" class="website-security-img">
              <img src="../img/smartphone.png" alt="smartphone.png">
          </a>
            <h4>MOBILITY</h4>
            <p>With a team of over 50 developers, we’re accomplished in the development of iOS, Android, Hybrid (Flutter, ReactNative) apps. Our talent in mobile development is evident, with our work known as some of the world’s best</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#cloud.html" class="website-security-img">
              <img src="../img/cloud.png" alt="cloud.png">
          </a>
            <h4>CLOUD</h4>
            <p>Bizmobia has expertise in cloud <br>computing service. We can help<br> our clients to choose the best cloud <br>services like AWS, Azur,<br> Google Cloud, Digital Ocean<br>etc</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#ux-ui.html" class="website-security-img">
              <img src="../img/ux-design.png" alt="ux-design.png">
          </a>
            <h4>UX/UI</h4>
            <p>BizMobia provides very <br>easy, user friendly <br>UI/UX design.<br> Wireframe, UI flow<br> and graphic design <br>for the product</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#devops.html" class="website-security-img">
              <img src="../img/eternity.png" alt="eternity.png">
          </a>
            <h4>DEVOPS</h4>
            <p>We follow very structured<br> way of development of <br>any products. A team work <br>via DevOps or Github<br> is very coordinated<br> and secured</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#testing.html" class="website-security-img">
              <img src="../img/test.png" alt="test.png">
          </a>
            <h4>TESTING</h4>
            <p>We do multiple testing along<br> with clients either automated<br> or manual to make sure there<br> are no bugs in system before<br> we hand-over the product</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#analytics.html" class="website-security-img">
              <img src="../img/analytics.png" alt="analytics.png">
          </a>
            <h4>ANALYTICS</h4>
            <p>Our data science team dive dipper into data and make different types of structured data presentation for business decision makers. Its easy to understand and customized as per requirements. </p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#ai.html" class="website-security-img">
              <img src="../img/chip.png" alt="chip.png">
          </a>
            <h4>AI</h4>
            <p>BizMobia implements software AI into products to make the product works itself with less inputs. More and more human inputs are transferred to software tools to work themselves</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
          <div class="website-security-box">
            <a href="#web-application-development.html" class="website-security-img">
              <img src="../img/computer.png" alt="computer.png">
          </a>
            <h4>WEB</h4>
            <p>We love what we do<br> and we do what our clients<br> love & work with great<br> clients all over the world to<br> create thoughtful and purposeful websites</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="section-padding high-performance high-performance1">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="section-headding text-center">
            <h4>High-Performance Solutions</h4>
          <p>BizMobia makes sure to provide 24/7 support, keep the product updated and provide very flexible approach towards any feedback</p>
        </div>
      </div>
        <div class="col-lg-5">
          <div class="high-performance-box" style="background-image:url(../img/high-performance.jpg);">
            <div class="high-performance-box-detail">
              <h4>BizMobia keeps the product updated.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
          <div class="row">
            <div class="col-md-6">
              <div class="high-performance-box" style="background-image:url(../img/high-performance.jpg);">
              <div class="high-performance-box-detail">
                <h4>BizMobia is flexible in approach.</h4>
                <p>Lorem ipsum dolor sit amet sed, consectetur adipiscing elit do</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="high-performance-box" style="background-image:url(../img/high-performance.jpg);">
              <div class="high-performance-box-detail">
                <h4>We provide 24/7 support.</h4>
                <p>Lorem ipsum dolor sit amet sed, consectetur adipiscing elit do</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>	
</section> -->
<!-- 		
<section class="section-padding website-security" style="background-image:url(../img/website-secruti.jpg);">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="website-security-box">
            <div class="website-security-img">
              <img src="../img/smartphone.png" alt="smartphone.png">
          </div>
            <h4>BizMobia keeps the product updated.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="website-security-box">
            <div class="website-security-img">
              <img src="../img/cloud.png" alt="cloud.png">
          </div>
            <h4>BizMobia is flexible in approach</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
          <div class="website-security-box">
            <div class="website-security-img">
              <img src="../img/ux-design.png" alt="ux-design.png">
          </div>
            <h4>We provide 24/7 support.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding most-complete most-complete1">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-lg-6 order-lg-1 order-2">
        <div class="most-complete-left">
          <div class="section-headding text-left">
            <h4 class="text-left">The most Complete and Effective Protection for Your Home</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor elit incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="most-complete-box">
                <div class="website-security-box text-center">
                  <div class="website-security-img">
                    <img class="security-img-color" src="../img/order1.png" alt="order1.png">
                    <img class="security-img-white" src="../img/order.png" alt="order.png">
                  </div>
                  <h4>Check And Search Hazards</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="most-complete-box">
                <div class="website-security-box text-center">
                  <div class="website-security-img">
                    <img class="security-img-color" src="../img/anti-virus-software.png" alt="anti-virus-software.png">
                    <img class="security-img-white" src="../img/anti-virus-software-white.png" alt="anti-virus-software-white.png">
                  </div>
                  <h4>Install And Configure Software</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="most-complete-box">
                <div class="website-security-box text-center mb-0">
                  <div class="website-security-img">
                    <img class="security-img-color" src="../img/scientist1.png" alt="scientist1.png">
                    <img class="security-img-white" src="../img/scientist.png" alt="scientist.png">
                  </div>
                  <h4>Departure Of The Our Experts</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="most-complete-box">
                <div class="website-security-box text-center mb-0">
                  <div class="website-security-img">
                    <img class="security-img-color" src="../img/technical-support1.png" alt="technical-support1.png">
                    <img class="security-img-white" src="../img/technical-support.png" alt="technical-support.png">
                  </div>
                  <h4>24/7 Support And Remote Admit</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 order-1">
          <div class="most-complete-box-img" style="background-image:url(../img/most-complete.jpg);">
            <img src="../img/most-complete.jpg" alt="most-complete.jpg" class="img-fluid"> -->
        <!-- </div>
      </div>
    </div>
  </div>
</section> -->


<section class="section-padding2 protectyour-website">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="opreter-center-img">
            <img src="../img/protectyour-website.png" alt=" " class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6">
          <div class="opreter-center-content">
            <div class="section-headding">
                <h4>BizMobia is committed to provide:</h4>
            </div>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <div class="row">
              <div class="col-md-6">
                <div class="opreter-center-content-list">
                  <ul>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    24/7 support
                  </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    On demand support
                  </li>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      Secured Products
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    Clients feedback implementation
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    Tech consultancy
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
                <div class="opreter-center-content-list">
                  <ul>
                    <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      Business suggestion 
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      Work as a team
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                      Flexible commercial
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    Product on revenue share
                  </li>
                  <li>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    Regular consulation
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12">
                <a class="comman-btn mt-3" href="">Know Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="section-headding text-center">
            <h4>Process We Follow To Develop Softwares	</h4>
        </div>
      </div>
        <div class="col-12">
          <div class="process-follow text-center">
            <img src="../img/index.png">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding client-say " style="background-image:url(../img/tesimonial.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-headding text-center">
          <h4>What Client’s Say About Us</h4>
          <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam neque quibusdam corrupti aspernatur corporis alias nisi dolorum expedita veritatis voluptates minima. One Time</p>
        </div>
      </div>
        <div class="col-12">
          <div class="">
         <div class="screenshot_slider owl-carousel">
          <div class="item">
            <div class="client-say-box-outer">
              <div class="client-say-box">
                <div class="client-say-box-icon">
                  <img class="color-quote" src="../img/left-quote.png" alt="left-quote.png">
                  <img class="white-quote" src="../img/left-quote-white.png">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,do eiusmod tempor incididunt ut labore et dolore.</p>
                <ul>
                  <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  </li>
                  <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  </li>
                  <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  </li>
                  <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  </li>
                  <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="svg-inline--fa fa-star fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>
                  </li>
                </ul>
              </div>
              <div class="client-say-box-img">
                  <img src="../img/tesimonial-inner.jpg" alt="tesimonial-inner.jpg">
                <h3>Axon Detos</h3>
                <p>CEO	</p>
              </div>
            </div>
          </div>
           
        </div>
      </div>

      </div>
    </div>
  </div>
</section>


<section class="section-padding high-performance">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="section-headding text-center">
            <h4>Latest News From Blog</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam neque quibusdam corrupti aspernatur corporis alias nisi dolorum expedita veritatis voluptates minima.</p>
        </div>
      </div>
        <div class="col-md-4">
          <div class="high-performance-box" style="background-image:url(../img/blog1.jpg);">
            <div class="high-performance-box-detail">
              <h4>Cloud Security</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
            <a href="blog-detail-page.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="high-performance-box" style="background-image:url(../img/blog2.jpg);">
          <div class="high-performance-box-detail">
            <h4>Secure Managed Web</h4>
            <p>Lorem ipsum dolor sit amet sed, consectetur adipiscing elit do</p>
            <a href="blog-detail-page.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="high-performance-box" style="background-image:url(../img/high-performance3.jpg);">
          <div class="high-performance-box-detail">
            <h4>Cyber Security</h4>
            <p>Lorem ipsum dolor sit amet sed, consectetur adipiscing elit do</p>
            <a href="blog-detail-page.html">Read More</a>
          </p></div>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}

<script src="../jq/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/owl.carousel.js"></script>
<script src="../js/main.js"></script>
</body>
</html>