<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/style.css">
  
    <title>Document</title>
</head>
<body>
    {{>header}}
<div class="banner px-lg-4" >
		    <div class="container-fluid">
			    <div class="row">
				    <div class=" col-12 d-flex align-items-center">
					    <div class="banner-inner-outer">
							<h4>OUR SERVICES</h4>
							<ul>
							    <li><a href="index.html">Home</a></li>
							    <li>Services</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<section class="section-padding ">
		    <div class="container-fluid">
			    <div class="row">
				    <div class="col-12">
					    <!-- <div class="section-headding text-center">
						    <h4>Enterprise Solution Development</h4>
						</div> -->
					</div>
				    <div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#web-application-development.html" class="website-security-img">
							    <img src="../img/software-development.png" alt="software-development.png">
							</a>
								<h4>ENTERPRICE SOFTWARE DEVELOPMENT</h4>
								<p>BizMobia has been recognized<br> as a top-rated vendor<br> and distinguished by our <br>customers as Customers’ Choice<br> for Software products and services.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#mobileapplication-development.html" class="website-security-img">
							    <img src="../img/mobile-application.png" alt="mobile-application.png">
							</a>
								<h4>MOBILE APPLICATION DEVELOPMENT</h4>
								<p>BizMobia follows Strategy <br>for App, Analysis & Planning,<br> UI/UX design, <br>App Development, Testing, <br>Deployment & Support</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#software-maintenance.html" class="website-security-img">
							    <img src="../img/software.png" alt="software.png">
							</a>
								<h4>SOFTWARE MAINTENANCE</h4>
								<p>The implementation process contains software preparation and transition activities
									The problem and modification analysis process
									The process considering the implementation of the modification itself
									The process acceptance of the modification
									The migration process
									</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#tech-consultancy.html" class="website-security-img">
							    <img src="../img/consulting.png" alt="consulting.png">
							</a>
								<h4>TECH CONSULTANCY</h4>
								<p>Project scoping and planning
									Business process and system design
									Project management support
									<ul>
										<li>Technical</li>
										<li>Business</li>
										<li>Management</li>
									</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#digitization-of-business-marketing.html" class="website-security-img">
							    <img src="../img/digitalization.png" alt="digitalization.png">
							</a>
								<h4>DIGITIZATION OF BUSINESS MARKETING</h4>
								<p>BizMobia helps business<br> to convert their manual<br> marketing into digital<br> process and help them <br>to save time and recourse</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#value-added-services.html" class="website-security-img">
							    <img src="../img/value.png" alt="value.png">
							</a>
								<h4>VALUE ADDED SERVICES</h4>
								<p>BizMobia provide more than<br> extra services to meet<br> the expectation of<br> clients by giving them <br>best market practice advices</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#digitization-of-business.html" class="website-security-img">
							    <img src="../img/digital.png" alt="digital.png">
							</a>
								<h4>DIGITIZATION OF THE BUSINESS</h4>
								<p>BizMobia helps business to convert<br> their manual process into digital<br> process and help them to save time and recourse</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#cloud-product-consultancy.html" class="website-security-img">
							    <img src="../img/cloud-consulting.png" alt="cloud-consulting.png">
							</a>
								<h4>CLOUD PRODUCT CONSULTANCY</h4>
								<p>BizMobia helps clients to<br> avail best could products<br> with reasonable cost and time</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
					    <div class="website-security-box">
						    <a href="#cloud-service-management.html" class="website-security-img">
							    <img src="../img/cloud-service.png" alt="cloud-service.png">
							</a>
								<h4>CLOUD SERVICE MANAGEMENT</h4>
								<p>BizMobia maintain the cloud services on behalf of clients and provide best results. Freeing the clients from the tech concerns and helping the to focus on their core business </p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section-padding">
		    <div class="container">
			    <div class="row">
				    <div class="col-md-5 d-flex align-items-center m-auto">
					    <div class="service-page-box-img">
						    <img src="../img/service-img.png" alt="service-img.png" class="img-fluid">
						</div>
					</div>
					<div class="col-md-7">
					    <div class="service-page-box">
						    <div class="section-headding1">
								<h4 >BizMobia can help strategically build your brand, improve your overall and develop more meaningful relationships with your customers.</h4>
							</div>
							<p>Great design, development and usability are the most paramount aspects of your product and you require to nail them down as early as possible, ideally during your orchestrating-stage. We are here to avail you achieve the best results and kickstart your product. We relish to work with people that have a good sense of design, development and understand their users and their terminus goal. Tell us about your background, about your customers, and any categorical goals you’ll want to achieve. We will ask the right questions and present you with an orchestration of action yare to surmount the digital world! With a very ocular perceiver-catching and expert marketing presentation, we avail our clients in integrating value to how their business is apperceived. A well-made company profile is a very efficient marketing implement for businesses. If you are probing for options to develop online tutorials, animated advertising, web banners, corporate business presentations, we can do the job for you. You can send the business presentation to your customers on a CD or in the email, just like sending the company brochure.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
        {{>footer}}
<script src="../jq/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="../js/owl.carousel.js"></script>
<script src="../js/main.js"></script>
</body>
</html>